<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="/public/css/basic.css">
</head>

<body>
    <h2>login</h2>
    <form action="/doLogin" method="POST">
        <input type="hidden" name="_csrf" value="<%=csrf%>"/>
        username<input type="text" name="username" />
        password<input type="password" name="password" />
        <button type="submit">提交</button>
    </form>
</body>

</html>